
.information {
    width: 35%;
    height: 70vh;
    border-radius: 15px;
}
.information .search-form{
    width:80%;
    margin-top: 14%;
}

.information .search-employee .search{
color:tomato;
}
.information .column {
    display: flex;
    flex-direction: column; 
    width: 40%;
    margin-left: 6%;
    margin-top: 10px
}
.information .column {
    width: 60%;
    margin: auto;
    margin-top: 4%;
}
.information .column label {
    margin-top: 10%;
    font: 18px;
}
.search-form .column .input {
    border-color: tomato;
}
.search-form .search-btn {
    width: 13rem;
    margin:auto;
    margin-left: 40%;
}

.information .input, .information .detail-info{
    height: 2em;
    padding: 6px;
    border-radius: 7px;
    margin-top: 0px;
    border-color: #064420;
}