.department-section {
    height: 45vh;
    width: 42.5vw;
    background-color:#e4efe7;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    /* border-top-right-radius: 4rem;
    border-bottom-left-radius: 4rem; */
    margin-left: 4%;
    border-radius: 10px;
    /* box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset; */
  }
  .department-div {
    width: 90%;
    margin: auto;
  }
  .department-section h4 {
    text-align: center;
    color: #064420;
    margin-bottom: 15px;
    margin-top: 5px;
  }
  /* .rank-section .rank-form {
      margin-top: 0px;
  } */
  .department-section .department {
    font-size: 18px;
    color: #064420;
    margin-right: 10px;
  }
  .department-section .department-form {
    width: 100%;
    height: 100%;
    
  }
  .department-form .set-department {
    height: 2em;
    padding: 6px;
    border-radius: 7px;
    margin-top: 0px;
    border-color: #064420;
    margin-right: 8px;
  }
  ::placeholder {
    color: #064420;
  }
   .department-btn {
    position: relative;
    align-self: center;
    margin-left: auto;
    margin-right: 5em;
    background-color: tomato;
    border: 1px solid #e4efe7;
    border-radius: 6px;
    box-sizing: border-box;
    color: #faf1e6;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    padding: 6px 16px;
    letter-spacing: 1px;
    width: 6rem;
   
  }
  .levels {
    width: 100%;
    margin: auto;
  }
  .rendered-levels {
    display: flex;
    justify-content: flex-end;
    width: 70%;
    position: relative;
    margin: auto;
  }
  .rendered-levels li {
    list-style: none;
    font-size: 18px;
    color: #064420;
    text-align: left;
  }
  .rendered-btn {
    position: relative;
    background-color: #064420;
    border: 1px solid #e4efe7;
    border-radius: 6px;
    box-sizing: border-box;
    color: #faf1e6;
    cursor: pointer;
    display:block;
    font-size: 14px;
    line-height: 13px;
    padding: 6px 16px;
    width: 4rem;
     float: right;
     margin-right: 1px;
  }
  .left {
      position:absolute;
      left:0;
  }
  