
.month {
    width: 30vw;
    height: 40vh;
    margin: auto;
}
.month h4 {
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    padding: 15px;
    text-align: center;
}
.month .select-month {
    width: 95%;
    margin: auto;
    margin-top: 2em;  
}
.month .select-month label {
    margin-left: 2%;
}
.month .select {
    height: 2em;
    padding: 6px;
    border-radius: 7px;
    margin-top: 0px;
    border-color: #064420;
    margin-left: 30%;
}
.month .calculate-salary {
    width: 53%;
    margin: auto;
    margin-top: 5em;
}
.calculate-salary button {
    height: 2em;
    width: 80%;
    display: block;
    margin: auto;
}
@media (max-width: 1024px) {
    .calculate-salary button {
        height: 2.5em;
    }
}
@media (max-width:780px) {
    .calculate-salary button {
        width: 100%;
        margin-left: 2.5em;
    }
    .month .select {
        width: 30vw;
        margin-right: 2em;
    }
    .month .select-month  {
        display: flex;
        flex-direction: column;
        margin-right: 6em;
    }
}
@media (max-width: 480px) {
    .month  {
        width:80%
    }
    .calculate-salary button {
        width: 7em;
        margin: auto;
    }
    .month .select-month  {
        width: 80%;
        margin:auto;
        
    }
    .month .select {
        width: 100%;
        margin: auto;
    }
    .select-month label {
        text-align: center;
    }
}